.container {
    width: 100%;
    height: 1000px;
}

.menubar {
    position: fixed;
    margin-left: -1px;
    top: 10px;
    width: 99%;
    height: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(132, 226, 190);
}

.menubar div {
    border: 2px solid rgb(0, 255, 157);
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    width: 80px;
    height: 30px;
    background-color: rgb(183, 213, 208);
    border-radius: 30px;
}

@media (max-width: 768px) {
    .menubar {
        width: 100%;
        height: 60px;
        gap: 10px;
    }

    .menubar div {
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .menubar {
        grid-auto-flow: row;
        height: auto;
        
        padding: 10px;
    }

    .menubar div {
        width: 70px;;
        margin-left: 0;
    }
}


